
  
<!--- HEADER -->
<div class="mdl-grid mdl-grid--no-spacing sec sec--1">
  <div class="mdl-cell mdl-cell--12-col header"> <!--Header with main title-->
      <div class="header__title-box">
          <h1 class="title-primary">
            <span class="title-primary--main">raiju</span>
            <span class="title-primary--underline"></span>
          </h1>
          <!-- <a pagescroll  class=" page-scroll btn btn-white btn-animated">Merch</a> -->
        <a [ngx-scroll-to]="ngxScrollToDestination"
        [ngx-scroll-to-event]="ngxScrollToEvent"
        [ngx-scroll-to-duration]="ngxScrollToDuration"
        [ngx-scroll-to-easing]="ngxScrollToEasing"> <button mat-fab>
            <i class="material-icons">flash_on</i>
          </button></a>
          
      </div>
  </div>
</div>

<!-- Section Two - Youtube-->
<div class="mdl-grid mdl-grid--no-spacing sec sec--2">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet"></div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      

      <div><iframe class="video"  src="https://www.youtube.com/embed/Dcjup4uxzEQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

                
      
  </div>
  <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet"></div>
</div>
<!-- Section Three - Merch -->
<div id=""  class="mdl-grid mdl-grid--no-spacing sec sec--3">
  <div class="mdl-cell mdl-cell--12-col">
      
  </div>
</div>

<!-- Section Four - About -->
<div id="merch" class="mdl-grid mdl-grid--no-spacing sec sec--4">
  <div class="mdl-cell mdl-cell--12-col">
      <div class="u-centerMe">
          <h1 class="title-secondary">Meet Raiju</h1>
       </div>
 
         <div class="row">
           <div class="col-1-of-3">
               <div class="polaroid">
                 <div class="polaroid__photo polaroid__photo--p1"><span class="polaroid__name"></span></div>
                 <a href="#mod1"><div class="polaroid__photo polaroid__photo--p2"></div></a>
                 <div class="polaroid__photo polaroid__photo--p3"></div>
                 <a href="#mod2"><div class="polaroid__photo polaroid__photo--p4">
                    <span class="polaroid__name">hkjhkjhkj</span></div></a>
               </div>
           </div>
           <div class="col-1-of-3">
               <div class="polaroid">
                 <div class="polaroid__photo polaroid__photo--p5"><span class="polaroid__name">Vinnie</span></div>
                 <div class="polaroid__photo polaroid__photo--p6"></div>
                 <div class="polaroid__photo polaroid__photo--p7"></div>
                 <a href="#mod3"><div class="polaroid__photo polaroid__photo--p8"></div></a>
               </div>
           </div>
           <div class="col-1-of-3">
               <div class="polaroid">
               <a href="#mod4"><div class="polaroid__photo polaroid__photo--p9"></div>
                 <div class="polaroid__photo polaroid__photo--p10"></div></a>
                 <a href="#mod5"><div class="polaroid__photo polaroid__photo--p11"></div></a>
                 <div class="polaroid__photo polaroid__photo--p12"></div>
               </div>
           </div>
         </div>
  </div>
</div>

<!-- Section Five - Tour -->
<div id="tour"  class="mdl-grid mdl-grid--no-spacing sec sec--5 ">
    <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--middle btn">

        <button routerLink="/tour" mat-button class="btn__button">Tour Dates
            <i class="material-icons btn__icon">list</i>
        </button>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
