

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Raiju</span>
          <i class="material-icons">assessment</i>
          
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
           
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Raiju</span>
        <nav class="mdl-navigation">
          <a routerLink="/" class="mdl-navigation__link" href="">Home</a>
          <a routerLink="/about" class="mdl-navigation__link" href="">About</a>
          <a class="mdl-navigation__link" href="">Merch</a>
          <a class="mdl-navigation__link" href="">Tour</a>
        </nav>
      </div>
    <main class="mdl-layout__content" >
      <div class="page-content">
  
       <!---ALL CONTENT HERE-->
        <router-outlet></router-outlet>
         
      <!-- END PAGE CONTENT -->
  
  </div>
      <!-- FOOTER -->
      <!-- style="flex: 0 0 auto;" keeps footer at bottom -->
      <footer class="mdl-mega-footer" style="flex: 0 0 auto;">
        <div class="mdl-mega-footer__middle-section">
      
          <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Details</h1>
            <ul class="mdl-mega-footer__link-list">
              <li><a href="#">About</a></li>
              <li><a href="#">Terms</a></li>
            </ul>
          </div>
      
      
          <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">This Site</h1>
            <ul class="mdl-mega-footer__link-list">
              <li><a href="#">Resources</a></li>
              <li><a href="#">Usage</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">Contracts</a></li>
            </ul>
          </div>
      
          <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">FAQ</h1>
            <ul class="mdl-mega-footer__link-list">
              <li><a href="#">Questions</a></li>
              <li><a href="#">Answers</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>
      
        </div>
      
        <div class="mdl-mega-footer__bottom-section">
            <i class="material-icons">music_note</i>
          <div class="mdl-logo">Raiju Music</div>
          
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
          </ul>
        </div>
      
      </footer>
       
      
  </main>
  <!--END OF MLD LAYOUT CONTENT-->
    
  </div>
  <!---END OF MDL LAYOUT-->
  
  
   <!-- MODAL SECTION -->
  
  
  <!-- <div class="mod" id="mod1">
      <a href="#section-about" class="mod__close">&times;</a>
      <div class="mod__content">
        <div class="mod__bio">
            <h4>Vinnie Hecht</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="mod__photo">
        <img src="https://images.pexels.com/photos/274406/pexels-photo-274406.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="Tour photo" class="mod__img">
        </div>
      </div>
    </div>
  
    <div class="mod" id="mod2">
      <a href="#section-about" class="mod__close">&times;</a>
      <div class="mod__content">
        <div class="mod__bio">
            <h4>Sean Johnson</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="mod__photo">
        <img src="https://images.pexels.com/photos/756239/pexels-photo-756239.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="Tour photo" class="mod__img">
        </div>
      </div>
    </div>
  
     <div class="mod" id="mod3">
      <a href="#section-about" class="mod__close">&times;</a>
      <div class="mod__content">
        <div class="mod__bio">
            <h4>Max Coley</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="mod__photo">
        <img src="https://images.pexels.com/photos/210922/pexels-photo-210922.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="Tour photo" class="mod__img">
        </div>
      </div>
    </div>
  
    <div class="mod" id="mod4">
      <a href="#section-about" class="mod__close">&times;</a>
      <div class="mod__content">
        <div class="mod__bio">
            <h4>Bobby Carroll</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="mod__photo">
        <img src="https://images.pexels.com/photos/167445/pexels-photo-167445.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="Tour photo" class="mod__img">
        </div>
      </div>
    </div>
  
    <div class="mod" id="mod5">
      <a href="#section-about" class="mod__close">&times;</a>
      <div class="mod__content">
        <div class="mod__bio">
          <h4>Scott Wagner</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        <div class="mod__photo">
        <img src="https://images.pexels.com/photos/167618/pexels-photo-167618.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="Tour photo" class="mod__img">
        </div>
      </div>
    </div> -->
  
    
  
  
        
        <div id="mod1" class="mod">
          <a href="#section-about" class="mod__close">&times;</a>
         <div class="mod__content  mdl-grid mdl-grid--no-spacing">
            <div class="mod__bio mdl-cell mdl-cell--6-col">
                <h4>Vinnie Hecht</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="mod__photo mdl-cell mdl-cell--5-col">
            <img src="https://images.pexels.com/photos/274406/pexels-photo-274406.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="Tour photo" class="mod__img">
            </div>
          </div>
        </div>
        <div id="mod2" class="mod">
          <a href="#section-about" class="mod__close">&times;</a>
         <div class="mod__content  mdl-grid mdl-grid--no-spacing">
            <div class="mod__bio mdl-cell mdl-cell--6-col">
                <h4>Sean Johnson</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="mod__photo mdl-cell mdl-cell--5-col">
            <img src="https://images.pexels.com/photos/756239/pexels-photo-756239.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="Tour photo" class="mod__img">
            </div>
          </div>
        </div>
        <div id="mod3" class="mod">
          <a href="#section-about" class="mod__close">&times;</a>
         <div class="mod__content  mdl-grid mdl-grid--no-spacing">
            <div class="mod__bio mdl-cell mdl-cell--6-col">
                <h4>Max Coley</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="mod__photo mdl-cell mdl-cell--5-col">
            <img src="https://images.pexels.com/photos/210922/pexels-photo-210922.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="Tour photo" class="mod__img">
            </div>
          </div>
        </div>
        <div id="mod4" class="mod">
          <a href="#section-about" class="mod__close">&times;</a>
         <div class="mod__content  mdl-grid mdl-grid--no-spacing">
            <div class="mod__bio mdl-cell mdl-cell--6-col">
                <h4>Bobby Carroll</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="mod__photo mdl-cell mdl-cell--5-col">
            <img src="https://images.pexels.com/photos/167445/pexels-photo-167445.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="Tour photo" class="mod__img">
            </div>
          </div>
        </div>
        <div id="mod5" class="mod">
          <a href="#section-about" class="mod__close">&times;</a>
         <div class="mod__content  mdl-grid mdl-grid--no-spacing">
            <div class="mod__bio mdl-cell mdl-cell--6-col">
                <h4>Scott Wagner</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="mod__photo mdl-cell mdl-cell--5-col">
            <img src="https://images.pexels.com/photos/167618/pexels-photo-167618.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" alt="Tour photo" class="mod__img">
            </div>
          </div>
        </div>
      
    
      
   