@import '/app-styles/variable.scss';

@import '/app-styles/mixin.scss';

@import 'app-styles/components/polaroid.scss';

@import 'app-styles/components/modal.scss';

@import 'app-styles/components/video.scss';

@import 'app-styles/layout/mdl-adjust.scss';

@import 'app-styles/layout/sections.scss';

@import 'app-styles/utilities.scss';

@import 'app-styles/typography.scss';


@import '@angular/material/prebuilt-themes/indigo-pink.css';


  


.btn {
    
    text-align: center;
    height: auto;

    &__button {
        
        font-size: 1.5rem;
        vertical-align: middle;
        height: 6rem;
        width: 18rem;
        border-radius: 15px;
        transition: .4s all ease;

        &:hover {
            background-color: white;
            transform: translateY(-7px);
        }
    }

    &__icon {
        font-size: 2rem;
        margin-bottom: .3rem;
    }

}
  
  
      



        








  













